body {
    font-family: Roboto, sans-serif; 
    color:#434455;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul {
   list-style-type: none; 
}


/*________HEADER____________*/

  .title {
background: #FFF; 
border-bottom: 1px solid #e7e9fc;
      
  }
  .container {
max-width: 1158px;
margin: 0 auto;
padding: 0 15px;

  }

  .logo {
        color:#4d5ae5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        margin-right: 76px;

  }
  .studio-logo {
        color: #2e2f42;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        
      }
  .title-navigation {
      display: flex;
      align-items: center;
      gap: 40px;
  }
  .title-list {
       display: flex;
       padding: 24px 0;
}

  .title-list-item {
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        gap: 40px;
  }
  .title-list-item:hover, 
  .title-list-item:focus {
      color: #404bbf;
  }
  .address-style {
      font-style: normal; 
    padding: 24px 0;
  }
  .address-list {
display: flex;
gap: 40px;
  }

  .address_link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
  }
  .address_link:hover,
  .address_link:focus {
      color: #404bbf;
  }
  .header-container {
      display: flex;
      margin: o auto;
      padding: 0 15px 0 15 px; 
      
  }
  .principles-container {
      display: flex;
  } 
 
  
  /*sections*/
  .section_type {
      background-color:#2e2f42;
  }

  img {
      display: block;
  }
  .main-phrase {
        color: #FFF;
        background: #2E2F42;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
  }
  .button-style {
        color: #ffffff;
        background-color: #4D5AE5;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;

  }
  .button-style:hover,
  .button-style:focus {
       background-color: #404BBF;
  }
  .mainhtext {

  }
  .h-text {
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;

  }
  .parts-texts {
        color:#434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }

  /*teams section*/

  .team_section_description {
     background-color: #F4F4FD;
  }
  .team-members-container {
      diplay:flex;
  }
  .team-text {
        color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
  }
  .list_description {
        background-color: #FFFFFF;
  }
  .photo {
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
  }

  .name-text {
        color:#2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
  }
  .ptext {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }
  .apps-container {
      display: flex;
  }
  .footer_description {
        background-color: #2e2f42;
  }
  .footer-container {
    padding-bottom: 100px;
  }

   .logo {
         color: #4d5ae5;
         font-family: Raleway, sans-serif;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         display: inline-block;
         margin-bottom: 16px;

   }
   .studio-logo-footer {
         color: #f4f4fd;
         font-family: Raleway, sans-serif;
         font-size: 18px;
         font-weight: 700;
         line-height: 1.17;
         letter-spacing: 0.03em;
         text-transform: uppercase;
      }
  
    .pfooter {
        color:#F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
  }